.new-word-sentences {
  width: 100%;
  margin-top: 25px;
}

.new-word-sentences-actions {
  margin-top: 20px;
  justify-content: center;
}

.new-word-sentences-input {
  width: 90% !important;
  min-height: 40px;
}

@media (min-width: 1200px) {
  .new-word-sentences-input {
    width: 60% !important;
  }
}
