.new-word-sentence {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.new-word-sentence-icon {
  margin-right: 10px;
  margin-left: 10px;
}

.new-word-sentence-text {
  margin-bottom: 0;
  margin-right: 10px;
  white-space: pre-wrap;
}

.new-word-sentence-remove-btn {
  margin-left: auto;
}
