.today-words-heading-block {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 75vw;
}

.today-words-heading-text {
  margin: auto;
  padding-bottom: 5px;
  font-size: 17px !important;
}

.today-words-repeat-btn {
  margin-right: 20px;
}

.repeat-word-component-enter {
  opacity: 0;
}
.repeat-word-component-enter-active {
  opacity: 1;
  transition: opacity 700ms;
}
.repeat-word-component-exit {
  opacity: 1;
}
.repeat-word-component-exit-active {
  opacity: 0;
  transition: opacity 700ms;
}

@media (min-width: 576px) {
  .today-words-heading-block {
    width: 50vw;
  }

  .today-words-heading-text {
    font-size: 22px !important;
  }
}

@media (min-width: 1200px) {
  .today-words-heading-block {
    width: 30vw;
  }
}
