.word-sentence {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.word-sentence-icon {
  margin-right: 10px;
  margin-left: 10px;
}

.word-sentence-text {
  margin-bottom: 0;
  white-space: pre-wrap;
}
