.page-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
}

.navigation-link {
  text-decoration: none !important;
  color: inherit !important;
  width: 100%;
}

.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75vw;
}

.page-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.page-btn {
  border-radius: 15px;
  height: 35px;
  width: 120px;
  text-transform: uppercase;
}

.page-divider {
  display: block;
  border-top: 1px solid rgba(16, 22, 26, 0.15);
  width: 80%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.bp3-dark .page-divider {
  border-top: 1px solid hsla(0, 0%, 100%, 0.15);
}

.page-input {
  margin-bottom: 20px;
}

@media (max-width: 576px) {
  .page-root {
    padding-top: 80px;
  }
}
