.settings-dialog {
  padding-bottom: 0;
}

.settings-dialog-content {
  display: flex;
  width: 100%;
  height: 40vh;
  max-height: 370px;
}

.settings-nav {
  background-color: #bfccd6;
  border-bottom-left-radius: 6px;
  width: 25%;
  padding: 10px;
}

.bp3-dark .settings-nav {
  background-color: #394b59;
}

.settings-nav-list {
  height: 100%;
}

.settings-page-content {
  width: 100%;
  padding: 10px;
  overflow: auto;
}

.settings-nav-list-item.mobile > span {
  margin: auto;
}

.settings-nav-list-item.mobile > div {
  display: none;
}

.section-header {
  display: flex;
  align-items: center;
}

.section-header-text {
  margin-bottom: 0;
  margin-left: 10px;
}

.section-divider {
  margin-left: 0;
}

.section-page-input {
  width: 230px;
}
