.settings-content {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.side-menu {
  padding-left: 0;
}

.animated-text-btn {
  width: 30px;
  transition: width 200ms;
  white-space: nowrap;
  overflow: hidden;
}

.animated-text-btn.account-btn:hover {
  width: 95px;
}

.animated-text-btn.dark-mode-btn:hover {
  width: 112px;
}

.header-log-in-btn {
  margin-right: 10px;
}

.header-sign-up-btn.navigation-link {
  width: auto;
}

.header-log-in-btn.navigation-link {
  width: auto;
}
