.repeat-word-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75vw;
  margin-bottom: 30px;
}

.source-word-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.source-word {
  padding-top: 5px;
  margin-right: 5px;
  font-style: italic;
  margin-left: auto;
}

.source-word-block > button:nth-child(2) {
  margin-left: auto;
}

.translation-collapse-block {
  width: 100%;
}

.translation-word {
  width: 100%;
  text-align: center;
}

@media (min-width: 576px) {
  .repeat-word-card {
    width: 45vw;
  }
}

@media (min-width: 1200px) {
  .repeat-word-card {
    width: 30vw;
  }
}
