.login-page-sign-up-btn {
  margin-top: 10px;
  width: 100% !important;
}

@media (min-width: 576px) {
  .page-content {
    width: 50vw;
  }
}

@media (min-width: 1200px) {
  .page-content {
    width: 25vw;
  }
}
