.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 50px;
  justify-content: center;
  max-height: 90vh;
}

.login-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75vw;
}

.login-page-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.login-page-divider {
  display: block;
  border-top: 1px solid rgba(16, 22, 26, 0.15);
  width: 80%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.login-page-input {
  margin-bottom: 20px;
}

.login-page-sign-up-btn {
  margin-top: 10px;
  width: 100% !important;
}

.login-page-btn {
  border-radius: 15px;
  height: 35px;
  width: 120px;
  text-transform: uppercase;
}

@media (min-width: 576px) {
  .login-page-content {
    width: 50vw;
  }
}

@media (min-width: 1200px) {
  .login-page-content {
    width: 25vw;
  }
}
